body{
    text-align: center;
    background-color: #C6A664;
    font-size: 25px;
    font-family:monospace;
    cursor: default;
}

button{
    background-color: #C6A664;
    font-size: 50px;
    font-family:monospace;
    cursor: pointer;
    border-radius: 30%;
    border: 5px solid black;
    padding: 15px;
}

button:hover{
    background-color: #9e8450;
}

#textBox{
    background-color: #C6A664;
    font-size: 30px;
    font-family:monospace;
    border: 5px solid black;
    outline: none;
}

#textBox:focus {
    outline: 2px solid red;
}

#lables{
    font-size: 40px;
    font-family:monospace;

}

#separator{
    height: 20px;
}

#sentenceLabel{
    height: 2px;
}
